<ion-row  style=" background-color: #c9dfeb; border: 0 0 10px 10px;">
  <ion-col  size="2" class="ion-text-right">
    <ion-button (click)="fill()" size="large" fill="clear">
      <ion-icon [name]="filled ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="7" class="ion-text-center" style="padding-top:1em">
    <ion-label style="margin-bottom:-2em;" class="vertical-align-content" >
      قسمت اول
    </ion-label>
  </ion-col>
  <ion-col size="2" class="ion-text-left">
    <ion-button (click)="play()" size="large" fill="clear">
      <ion-icon name="play"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
<!-- 
<ion-card >
  <ion-grid>
    <ion-row class="ion-center-align vertical-align-component">
      <ion-col>
        
      </ion-col>
      <ion-col class="vertical-align-component" padding>
        <ion-label >
          قسمت ۱
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" >
          <ion-icon name="play-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button  fill="clear">
          <ion-icon name="pause"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button  fill="clear">
          <ion-icon name="play-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card> -->
<!-- 
<ion-label>
  im here
</ion-label> -->
