ion-content{
    --ion-background-color:#f2f4ff;
}

ion-toolbar{
    --background:#f2f4ff;
}

h2 {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin: 10px 0 20px; 
 } 
 
 h2 span { 
	 background:#f2f4ff; 
	 padding:0 10px; 

 }