<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      پادکست ها
   </ion-title>
   <ion-buttons slot="start">
    <ion-button (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button (click)="shop()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div *ngFor="let item of Pods | async" class="ion-padding">
    <ion-card>
    <ion-row>
    <ion-col >
    {{item.node.title}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <div [innerHTML]="item.node.content"></div>
    </ion-col>
  </ion-row>
  
  
  <ion-row class="ion-padding-bottom"> 
    <ion-col>
    <ion-button shape="round" (click)="play(item.node.id)">
      پخش
    </ion-button>
    </ion-col>
  </ion-row>

</ion-card>
  </div>
</ion-content>