<!-- <ion-header>
  <ion-toolbar>
    <ion-title>podcast-page</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/tabs/series" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-menu-button color="primary" autoHide="false"></ion-menu-button>
    </ion-buttons> -->
    <ion-title style="font-weight: bold; font-size: 19pt;" class="ion-text-center">
      سریال
    </ion-title>
  </ion-toolbar>
<ion-grid>
  <ion-row class="ion-padding-horizontal" >
    <ion-col size ="5" style="padding-top: 10%;" class="vertical-align-content">
`
      <ion-grid>
    
        <ion-row class="ion-padding-bottom ion-text-right">
          <ion-col>
          <ion-label style="font-weight: bold; font-size: 15pt; white-space: nowrap;">
            <strong>
           {{title}}
            </strong>
          </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-right">
          <ion-button size="large" class="ion-text-right ion-no-padding" fill="clear">
            <ion-icon name="share-social"></ion-icon>
          </ion-button>
        </ion-col>
        </ion-row>
      
      </ion-grid>
      <!-- <ion-row >  -->
        <!-- <ion-label class="vertical-align-content">
          Podcast Title
        </ion-label> -->
      <!-- </ion-row> -->
      <!-- <ion-row> -->
        
      <!-- </ion-row> -->
    </ion-col>
    <ion-col size="7">
      <!-- <img src="http://pesiko.liara.run/mediafiles/{{image}}" style="border-radius:5%; height:100%; width: 100%;"> -->
      <img src="../../assets/series.jpg" style="border-radius:5%; height:100%; width: 100%;">
    </ion-col>
  </ion-row>
  
  <div *ngIf="hasBought" class="ion-padding-top">
  <ion-row *ngFor="let item of episodes"  style="border-radius: 2%; padding-right: 6%; padding-left: 6%; padding-top:3%;" class="ion-text-center ">
    <app-vod style=" width: 100%;" id={{id}}></app-vod>
  </ion-row>

  <ion-row *ngIf="empty" class="ion-padding">
    <ion-col class="ion-text-center">
      <ion-label>این سریال خالی است !</ion-label>
    </ion-col>
  </ion-row>

</div>


  <ion-row *ngIf="!hasBought" class="ion-padding">
    <ion-col class="ion-text-center">
      <ion-button (click)="add()" >
        اضافه کردن به سبد خرید
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-row *ngFor="let track of playlist" (click)="func(track)"  style="border-radius: 2%; padding-right: 6%; padding-left: 6%; padding-top:3%;" class="ion-text-center ">
    <app-podcast style=" width: 100%;" part={{track.part}}></app-podcast>
  </ion-row> -->
</ion-grid>

<!-- </ion-list> -->
</ion-content>

<!-- <ion-toolbar *ngIf="this.serv.activetrack" style=" --ion-background-color:#007cbf;">
  <ion-row style="height:100%;" class="ion-text-center vertical-align-content">
  <ion-col size="2" class="ion-text-right" style="padding-top: 0.7em;">
    <ion-icon size="large" color="light" class="ion-text-left" name="chevron-up-outline" (click)="openModal(this.serv.activetrack)"></ion-icon>
  </ion-col>
  <ion-col class="ion-text-center" size="2">
    <ion-button  color="light" fill="clear" (click)="this.serv.next()">
      <ion-icon color="light" name="play-forward"></ion-icon>
    </ion-button>
    </ion-col>
  <ion-col class="ion-text-center" size="2">
    <ion-button  color="light" fill="clear" *ngIf="this.serv.state" (click)="togglePlayer(true)">
      <ion-icon color="light" name="pause"></ion-icon>
    </ion-button>
    <ion-button  color="light" fill="clear" *ngIf="!this.serv.state" (click)="togglePlayer(false)">
        <ion-icon color="light" name="play"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col class="ion-text-center" size="2">
    <ion-button  color="light"  shape="circle" fill="clear" (click)="this.serv.prev()">
      <ion-icon color="light" name="play-back"></ion-icon>
    </ion-button>
    </ion-col>
    <ion-col class="ion-text-center vertical-align-content" size="4" style="padding-top: 0.7em;">
      <ion-label color="light" style="height:auto;" class="vertical-align-content">
        <strong>
       {{title}}
    </strong>
      </ion-label>
    </ion-col>
  
</ion-row>
</ion-toolbar> -->