ion-content{
    --ion-background-color: #f2f4ff;
}

ion-card{
    background-color : white !important;
}
ion-input{
    --color:#004a73;
}
ion-button{
    // margin-top:-30px;
    border-radius:18px;
    color:black;
    --background:#86d9fb;
}
ion-item{ 
    --background : #c9dfeb;
    margin-bottom: 8px;
}
ion-label{
    color: #3d4054;
}

ion-button{
    // margin-top:-30px;
    border-radius:18px;
    color:black;
}